// fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Raleway:wght@200;300;400;500&display=swap');
$lora : 'Lora',
serif;
$raleway : 'Raleway',
sans-serif;

// colors
$gunmetal : #272f3e;
$magnolia : #f6eefb;
$french-lilac : #876a9c;
$copper-rose : #9d7178;
$rythim : #717592;

$danger : #944949;